.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-out {
  animation: fadeOut 0.4s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 0.2s ease-out forwards;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-slide-down {
  animation: fadeSlideDown 0.2s ease-out forwards;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-erase-line {
  animation: eraseLine 1.5s ease backwards;
}

@keyframes eraseLine {
  0% {
    stroke-dasharray: var(--edge-length), 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    stroke-dasharray: 0, var(--edge-length);
    opacity: 0;
  }
}
