@import "tailwindcss";

@theme {
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-darken: var(--accent-darken);
  --color-accent-darken-hover: var(--accent-darken-hover);
  --color-placeholder: hsl(220, 13%, 65%);

  --background-image-primary: var(--primary-gradient);
  --background-image-avatar-gradient: var(--avatar-gradient);

  /* Animations */
  --animate-sidebar-slide-in: sidebar-slide-in 0.25s ease-out forwards;
  --animate-sidebar-slide-out: sidebar-slide-out 0.2s ease-in forwards;
  --animate-fade-slide-down: fade-slide-down 0.2s ease-out forwards;
  --animate-fade-slide-up: fade-slide-up 0.2s ease-out forwards;
}

@layer base {
  :root {
    /* Colors */
    --foreground: hsl(220, 39%, 11%);
    --accent: hsl(267, 100%, 60%);
    --accent-hover: hsl(267, 100%, 55%);
    --accent-darken: hsl(267, 100%, 45%);
    --accent-darken-hover: hsl(267, 100%, 40%);

    /* Gradients */
    --primary-gradient-start: hsl(249, 59%, 51%);
    --primary-gradient-end: hsl(302, 86%, 45%);
    --primary-gradient: linear-gradient(
      to top right,
      var(--primary-gradient-start),
      var(--primary-gradient-end)
    );
    --avatar-gradient: linear-gradient(
      to top,
      var(--primary-gradient-end),
      var(--primary-gradient-start)
    );
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    color: var(--foreground);
    background: var(--primary-gradient);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    scrollbar-arrow-color: transparent;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }
}
