@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-darken: var(--accent-darken);
  --color-accent-darken-hover: var(--accent-darken-hover);
  --color-placeholder: hsl(220, 13%, 65%);
}

@layer base {
  :root {
    --background-image: linear-gradient(
            to top right,
            hsl(249, 59%, 51%),
            hsl(302, 86%, 45%)
    );
    --avatar-background: linear-gradient(
            to top,
            hsl(302, 86%, 45%),
            hsl(249, 59%, 51%)
    );
    --foreground: hsl(220, 39%, 11%);
    --accent: hsl(267, 100%, 60%);
    --accent-hover: hsl(267, 100%, 55%);
    --accent-darken: hsl(267, 100%, 45%);
    --accent-darken-hover: hsl(267, 100%, 40%);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    color: var(--foreground);
    background: var(--background-image);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    scrollbar-arrow-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

  .bg-primary {
    background-image: var(--background-image);
  }

  .bg-avatar-gradient {
    background-image: var(--avatar-background);
  }
}
