@reference "../../../../app/globals.css";

.react-datepicker-wrapper {
  @apply block;
}

.react-datepicker__input-container {
  position: static;
}

.react-datepicker {
  @apply border-accent-darken! rounded-2xl!;
}

.react-datepicker__tab-loop {
  opacity: 0;
  transform: scale(0.5);
  animation: zoomIn 0.2s ease-out forwards;
}

.react-datepicker__header {
  @apply bg-accent! text-slate-50! rounded-t-xl! border-0!;
}

.react-datepicker__month-container {
  @apply border-accent-darken!;
}

.react-datepicker__current-month {
  @apply text-white! pointer-events-none!;
}

.react-datepicker__year-read-view {
  @apply text-xs!;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon {
  @apply before:border-accent-darken-hover!;
}

.react-datepicker__navigation-icon {
  @apply before:border-accent-darken!;
}

.react-datepicker__year-read-view--down-arrow {
  @apply border-accent-darken! hover:border-accent-darken-hover!;
}

/* Triangle ^ appears as separate block */
.react-datepicker__triangle {
  @apply stroke-accent-darken! fill-accent! text-accent! z-50;
}

.react-datepicker__year-dropdown {
  @apply bg-white! border-purple-500! shadow-md! text-foreground! scroll-p-0!;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.react-datepicker__year-option {
  @apply hover:bg-purple-200!;
}

.react-datepicker__year-option--selected {
  @apply text-accent! font-bold!;
}

.react-datepicker__day-name {
  @apply text-accent! pointer-events-none!;
}

.react-datepicker__day {
  @apply hover:bg-purple-200!;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  @apply bg-accent! text-slate-50! hover:bg-accent-darken!;
}

@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
